<div id='portrait'></div>

<div id='info'>
<h4><%= @user.fname %> <%= @user.lname %></h4>
<p id='tweet'></p>
<p id='created_at'></p>
</div>

<div id='userSettings'>
  <form method="POST" action="/session">
    <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
    <input name="_method" value="DELETE" type="hidden">
    <button>logout</button>
  </form>

<!--  <button data-toggle='modal' data-target='#editModal'>edit</button>-->
</div>

<!-- Modal
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Profile</h4>
      </div>
      <div class="modal-body">
      	<input name='fname' value=<%= @user.fname %>>
      	<input name='lname' value=<%= @user.lname %>>
      	<input name='handle' value=<%= @user.handle %>>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal">Close</button>
        <button id='updateUserInfo'>Save changes</button>
      </div>
    </div>
  </div>
</div>
-->